$primary-width: 1256px;
$primary-theme-color: #d1311f;
$primary-theme-bold-color: #eb1700;
$secondary-theme-color: #fff0ed;
$white-text-color: #ffffff;
$hover-button: #fae0db;
$hover-theme-button: #d91400;
$input-bg-color: #f7f7f7;

// $primary-theme-bold-color: rgb(235, 23, 0);
// $primary-theme-color: rgb(209, 49, 31);
// $secondary-theme-color: rgb(255, 240, 237);
// $input-bg-color: rgb(247, 247, 247);

// $primary-text-color: #191919;
// $light-text-color: rgb(73, 73, 73);
// $white-text-color: rgb(255, 255, 255);
// $primary-theme-text: rgb(209, 49, 31);
// $warning-text-color: rgb(183, 16, 0);
// $primary-theme-text-color: rgb(217, 20, 0);
// $hover-button: rgb(250, 224, 219);
// $hover-theme-button: rgb(217, 20, 0);
//
