/* --------------------------- ++ BASE ++ --------------------------- */
@use "./config" as con;

// the "å" in the footer

li {
  list-style: none;
}

ul {
  list-style-type: none;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "TT Norms Pro", sans-serif;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

a {
  text-decoration: none;
}

textarea,
select,
input,
button {
  outline: none;
}

h1 {
  line-height: 100%;
  font-size: 54px;
  font-family: "TT Norms Pro", sans-serif;
  text-align: center;
}

h2 {
  font-family: "TT Norms Pro", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 53px;
  text-align: center;
}

/*  ============================= HOME PAGE ============================= */
/* --- Header --- */
header {
  position: sticky;
  top: 0;
  z-index: 1001;
  background-color: white;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: con.$primary-width;
    height: 72px;
    margin: 0 auto;
    padding: 18px;

    &__logo {
      height: 18px;

      a {
        img {
          height: 100%;
        }
      }
    }

    &__navbar {
      ul {
        display: flex;
        gap: 3.875rem;
        padding-right: 20px;

        li {
          .nav-item {
            position: relative;

            a {
              font-size: 18px;
              font-weight: 500;
              line-height: 20.7px;
            }

            &::after {
              content: "";
              top: 4px;
              left: calc(100% + 0.25rem);
              width: 1rem;
              height: 1rem;
              background-image: url(../img/down-arrow.svg);
              // background-size: cover;
              position: absolute;
            }
          }

          &:hover {
            .nav-item {
              a {
                color: con.$primary-theme-color;
              }

              &::after {
                rotate: 180deg;
                transition: all 250ms ease;
                /* change down arrow into red color*/
                filter: invert(40%) sepia(81%) saturate(6529%)
                  hue-rotate(352deg) brightness(86%) contrast(90%);
              }
            }
          }

          .nav-item-active {
            a {
              color: con.$primary-theme-color;
            }

            &::after {
              rotate: 180deg;
              transition: all 250ms ease;
              /* change down arrow into red color*/
              filter: invert(40%) sepia(81%) saturate(6529%) hue-rotate(352deg)
                brightness(86%) contrast(90%);
            }
          }
        }
      }
    }
  }
}

/* --- Hero --- */
.hero {
  background-color: con.$primary-theme-color;

  .hero-container {
    max-width: con.$primary-width;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1rem 6.45rem 0 6.45rem;

    &__content {
      width: 64.5%;
      z-index: 100;
      display: flex;
      flex-direction: column;
      justify-content: center;

      & > * {
        color: con.$white-text-color;
      }

      h1 {
        font-size: 2.5rem;
        line-height: 2.875rem;
        font-weight: 500;
        white-space: nowrap;
      }

      p {
        margin-top: 1rem;
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 25.2px;
        max-width: 24.0625rem;
      }

      button {
        padding: 0.5rem 1rem;
        margin-top: 1rem;
        background-color: white;
        color: con.$primary-theme-color;
        cursor: pointer;
        width: max-content;
        line-height: 20px;

        &:hover {
          background-color: con.$hover-button;
          transition: all 150ms linear;
        }
      }
    }

    &__image {
      width: 100%;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        transform: skew(-10deg, 0deg);
        transform-origin: top;
        width: 20.2%;
        height: 100%;
        background-color: con.$primary-theme-color;
      }
    }
  }
}

/* All Sections */
main {
  /* --- Section 1 - Earnings --- */
  .payment-earning {
    padding: 3.25rem 1rem;
    margin: 0 auto;
    max-width: con.$primary-width;

    &__title {
      text-align: center;
      font-size: 2.25rem;
      margin-bottom: 2rem;
      font-weight: 500;
    }

    &__container {
      display: flex;
      justify-content: center;
      gap: 1rem;
      width: 64.7%;
      margin: 0 auto;

      & > * {
        flex-grow: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        img {
          width: 100%;
        }

        h3 {
          font-size: 1.125rem;
          font-weight: 500;
          line-height: 20.7px;
          text-align: center;
        }

        p {
          line-height: 22.4px;
          text-align: center;
        }
      }
    }
  }

  /* --- Section 2 - Tracking Earnings --- */
  .payment-track-earning {
    display: flex;
    justify-content: space-between;
    gap: 1.35rem;
    align-items: center;
    margin: 0 auto;
    padding: 3.25rem 1rem;
    max-width: con.$primary-width;

    &__image {
      width: 100%;

      img {
        width: 100%;
      }
    }

    &__content {
      width: 100%;

      .content-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 0 auto;
        width: fit-content;

        & > * {
          max-width: 26rem;
        }

        h2 {
          font-size: 1.5rem;
          line-height: 1.875rem;
        }

        p {
          font-size: 1rem;
          line-height: 22.4px;
        }
      }
    }
  }

  /* --- Section 3 - Promos --- */
  .payment-promos {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin: 0 auto;
    padding: 3.25rem 1rem;
    max-width: con.$primary-width;

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      width: 100%;

      & > * {
        max-width: 26rem;
        text-align: left;
      }

      h2 {
        font-size: 1.5rem;
        line-height: 1.875rem;
        width: 100%;
      }

      p {
        font-size: 1rem;
        line-height: 22.4px;
      }
    }

    &__image {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }

  /* Section 4 - Get Paid */
  .payment-getpaid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 6rem 3.25rem;
    margin-bottom: 3.25rem;

    background-color: con.$secondary-theme-color;

    &__title {
      font-size: 36px;
      line-height: 41.4px;
      margin-bottom: 1.375rem;
    }

    &__payment-cycle {
      line-height: 59.8px;
      font-size: 3.25rem;
      color: con.$primary-theme-color;
      font-weight: 500;
    }

    &__content {
      max-width: 17rem;
      text-align: center;
      line-height: 22.4px;
    }

    &__button {
      padding: 0.55rem;
      background-color: con.$primary-theme-bold-color;
      color: white;
      border: none;
      border-radius: 62.5rem;
      font-size: 1rem;
      font-weight: 700;
      line-height: 18.4px;

      a {
        padding: 0.5rem;
        line-height: 20px;
        font-weight: 700;
      }

      &:hover {
        background-color: con.$hover-theme-button;
      }
    }
  }

  /* Scroll Up Button */
  .scroll-up-button {
    .material-icons {
      font-size: 38px;
      color: white;
    }

    bottom: 5.8rem;
    right: 5%;
    position: fixed;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.2);
    background-color: rgba($color: con.$primary-theme-color, $alpha: 0.8);
    width: 60px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    z-index: 100;
    opacity: 0;

    &:hover {
      background-color: con.$primary-theme-color;
    }
  }
}

/* Footer */
.footer {
  &__banner {
    background-color: con.$primary-theme-color;

    .banner-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: inherit;
      color: white;
      max-width: con.$primary-width;
      padding: 2rem 1rem;
      margin: 0 auto;

      &__logo {
        height: 22px;
        width: max-content;
      }
    }
  }

  &__content {
    max-width: con.$primary-width;
    padding: 3.25rem 1rem;
    margin: 0 auto;

    .main-content {
      display: flex;
      justify-content: space-between;
      gap: 3rem;

      .merchants-logo {
        min-width: 172px;
      }

      .nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 55%;
        gap: 1rem;

        & > * {
          .title {
            text-transform: uppercase;
            text-align: left;
            margin-bottom: 8px;
            font-size: 16px;
            font-weight: 500;
            line-height: 20.7px;
          }

          ul {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            li {
              line-height: 18.4px;
              font-weight: 300;

              a {
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }

      .mobile-and-network {
        .social-network {
          display: flex;
          justify-content: space-between;

          .social-icons {
            filter: invert(41%) sepia(3%) saturate(28%) hue-rotate(31deg)
              brightness(95%) contrast(90%);

            &:hover {
              filter: invert(0%) sepia(93%) saturate(26%) hue-rotate(283deg)
                brightness(103%) contrast(103%);
            }
          }
        }

        .mobile-apps {
          display: flex;
          flex-direction: column;
          gap: 4px;
          margin-top: 14px;

          li {
            position: relative;
            &::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              background-color: rgba($color: white, $alpha: 0.3);
              left: 0;
              top: 0;
              opacity: 1;
              transition: all 100ms linear;
            }

            &:hover {
              &::after {
                opacity: 0;
                pointer-events: none;
              }
            }
          }
        }
      }
    }
  }

  .footer-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;

    .select-wrapper {
      position: relative;
      background-color: con.$input-bg-color;
      border-radius: 8px;
      width: 160px;
      padding: 10px 12px;

      .language {
        border: none;
        appearance: none;
        background-color: inherit;
        width: 105%;
      }

      &::after {
        content: "";
        position: absolute;
        background-image: url(../img/down-arrow.svg);
        background-size: cover;
        width: 24px;
        height: 24px;
        left: calc(100% - 32px);
        top: calc(100% - 30px);
        pointer-events: none;
      }
    }

    .select-active {
      border: 2px solid con.$primary-theme-color;
    }

    .terms-and-privacy {
      display: flex;
      gap: 6px;
      color: con.$primary-theme-color;
      line-height: 24px;

      a {
        &:hover {
          text-decoration: underline;
        }
      }

      span {
        color: inherit;
      }
    }

    .copyright {
      color: con.$primary-theme-color;
      line-height: 24px;
    }
  }
}

// ========================== RESPONSIVE ========================== //
@media (max-width: 960px) {
  .hero {
    .hero-container {
      padding: 1rem 1rem 0 1rem;
    }
  }

  main {
    .payment-earning {
      &__container {
        width: 100%;
      }
    }
  }
}

@media (max-width: 779px) {
  .footer {
    &__content {
      .main-content {
        nav {
          & > * {
            min-width: 7.75rem;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    height: fit-content;
    border-bottom: 1px solid con.$primary-theme-color;

    .header-container {
      height: 100%;

      &__logo {
        display: none;
      }

      &__navbar {
        width: 100%;
        ul {
          flex-direction: column;
          gap: 1rem;
          width: 100%;

          li {
            a {
              padding-right: 100%;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }

  .hero {
    .hero-container {
      flex-direction: column-reverse;

      &__content {
        margin: 1rem 0 1rem 0;
        width: 100%;
        align-items: center;
        & > * {
          text-align: center;
        }

        p {
          max-width: none;
        }
      }

      &__image {
        &::after {
          display: none;
        }
      }
    }
  }

  main {
    .payment-earning {
      &__title {
        font-size: 2rem;
      }

      &__container {
        flex-direction: column;

        & > * {
          p {
            max-width: 27.5rem;
          }
        }
      }
    }

    .payment-track-earning {
      flex-direction: column;

      &__content {
        align-items: center;

        & > * {
          text-align: center;
        }
      }
    }

    .payment-promos {
      flex-direction: column-reverse;
      padding-top: 0rem;

      &__content {
        align-items: center;

        & > * {
          text-align: center;
        }
      }
    }

    .scroll-up-button {
      bottom: 11rem;
      scale: 75%;
    }
  }

  .footer {
    &__content {
      padding: 32px 16px 32px 16px;
      .main-content {
        .merchants-logo {
          display: none;
        }
        nav {
          display: none !important;
        }

        .mobile-and-network {
          .social-network {
            justify-content: left;
            gap: 1.25rem;
          }

          .mobile-apps {
            flex-direction: row;
          }
        }
      }

      .footer-bar {
        flex-direction: column;
        gap: 0.65rem;
        margin-top: 0.65rem;

        .select-wrapper {
          width: 100%;

          .language {
            width: 100%;
          }
        }
      }
    }
  }
}
